[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio
.vscode/
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# OS系统文件
.DS_Store
Thumbs.db

# Unity 自动生成
*.unityproj
*.tmproj
*.pidb.meta
sysinfo.txt

# Rider IDE
.idea/
*.sln.iml

# Crash Reports
sysinfo.txt

# 个人偏好配置
*.prefs
*.local
*.swp

# 包管理
Packages/packages-lock.json

# 插件缓存
obj/
